<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/style.css">
        <title>Please rate your service</title>
    </head>
    <body>
        <div class="container">
            <img src="../static/logo1.png" alt="Apple" class="logo">
            {% if message %}
            <p class="message">{{message | safe }}</p>
            {% endif %}
            <form action="/submit" method="POST">
                <div class="form-group">
                    <label><h3>
                        Customer Name
                    </h3></label>
                    <input type="text" 
                            name="customer"     
                            placeholder="Name of product owner" required>
                </div>
                <div class="form-group">
                <label><h3>
                        Dealer
                    </h3></label>
                    <select name="dealer" required>
                        <option value="">Select Dealer</option>
                        <option value="Tom Smith">Tom Smith</option>
                        <option value="Leena Ghanshani">Leena Ghanshani</option>
                        <option value="Jim john">Jim john</option>
                        <option value="Egon Jonas">Egon Jonasr</option>
                    </select>
                </div>
                <div class="form-group">
                <label><h3>
                        Please rate your dealer
                    </h3></label>
                    <input type="radio" name="rating" value="1" required/>1
                    <input type="radio" name="rating" value="2"/>2
                    <input type="radio" name="rating" value="3"/>3
                    <input type="radio" name="rating" value="4"/>4
                    <input type="radio" name="rating" value="5"/>5
                    <input type="radio" name="rating" value="6"/>6
                    <input type="radio" name="rating" value="7"/>7
                    <input type="radio" name="rating" value="8"/>8
                    <input type="radio" name="rating" value="9"/>9
                    <input type="radio" name="rating" value="10"/>10
                </div>
                <div class="form-group">
                <label><h3 class="optional">
                        Comments about your experience
                    </h3></label>
                    <textarea name="comments" id="" cols="30" rows="10" placeholder="Tell us what you did/didnot like">
                    </textarea>
                </div>
               <input type="submit" value="Submit" class="btn">
            </form>
        </div>
    </body>
</html>